<%- include('../partials/header.ejs')%>
<div class="login-container">
    <div class="login-sub-container">
        <form action="/users/login" method="POST">
            <h3>Login</h3>
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" required><br><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <button>Login</button><br>
        </form>
    </div>
</div>
<%- include('../partials/footer.ejs')%>
