<%- include('../partials/header.ejs')%>
<h2 class="profileheader">  Welcome, <span class="profilename"><%=user.firstName + " " +user.lastName %></span></h2>
<p class="profileheader">Thank you for signing up with us!!!</p>
<p class="profileheader">Enjoy you membership by creating your best stories online with our Jibber Jabber web story creator and Share it with others.</p>
<p class="profileheader"><b>Your registered email:</b> <%=user.email%></p></p>
<%- include('../partials/footer.ejs')%>
