<%- include('./partials/header.ejs')%>
    <div class="content">
        <br>
        <h3>Welcome to Jibber Jabber</h3><br>
        <p>This a place where you can share your exciting stories and read exciting stories from others.</p>
    </div>
    <%- include('./partials/footer.ejs')%>